html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* Because we imported open sans font we can use it here */
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  vertical-align: baseline;
  /* Really important to know whats happening here. box-sizing can save you a lot of hassle */
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.flex {
  display: flex;
  flex-direction: row;
  padding-left: .2em; }

.header-parent {
  height: 4em;
  width: 100%;
  background-color: #232f3e;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: .25em; }

.header-parent img {
  height: 1.5em;
  width: 1.5em; }

.header-ham-site {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.5em; }

.header-ham-menu {
  color: white; }

.header-site {
  padding-left: 1em; }

.header-user-first-cart {
  display: flex;
  align-items: center;
  font-size: 1.5em; }

.header-user-first-name {
  color: white;
  display: inline-flex;
  padding-right: 1em; }

.header-user-first-name button {
  border: 0;
  background: none;
  color: white; }

.header-user-first-name h5 {
  font-weight: 300; }

.header-slide-menu {
  width: 90%;
  height: 70%;
  background: whitesmoke;
  position: absolute;
  top: 0;
  left: -90%;
  transition: .65s; }

.header-slide-content-top {
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: .4em;
  background-color: #232f3e;
  font-size: 1em;
  padding-top: .4em; }

.header-slide-content-top h5 {
  font-weight: 300; }

.header-slide-content-top button {
  border: 0;
  background: none;
  color: white;
  font-size: .75em;
  font-weight: 300; }

.header-slide-content-top-buttons {
  background-color: #232f3e;
  display: flex;
  justify-content: space-around;
  padding-bottom: .5em; }

.header-slide-content-top-buttons button {
  border: 0;
  background-color: #37475a;
  color: white;
  height: 3em;
  width: 6em;
  font-size: 1rem;
  font-weight: 700; }

.header-slide-animation {
  left: 0; }

.header-slide-content-body {
  height: 15em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start; }

.header-slide-content-body button {
  height: 4em;
  width: 8em;
  border: 0;
  background-color: whitesmoke;
  font-size: 1.1rem;
  font-weight: 700;
  color: #37475a;
  outline: none; }

.searchbar-parent {
  height: 2em;
  width: 100%;
  background-color: #232f3e; }

.searchbar-input-button {
  display: flex;
  align-items: center;
  justify-content: center; }

.searchbar-input {
  height: 1.8em;
  width: 80%; }

.searchbar-input-button img {
  height: 1.5em;
  width: 1.5em;
  background-color: orange; }

.subheader-parent {
  height: 2em;
  width: 100%;
  background-color: #37475a;
  display: flex;
  color: white;
  font-size: .75em;
  align-items: center; }

.subheader-parent img {
  height: 2em; }
